
{{ set_assets('applications/Videos/assets/css/video.css') }}

{% set item_url = generate_url('videos.videos.detail', {'id':items.0.id})  %}

<div class="horizontal-videos">

    {% if videos|length > 0 %}
        {% for key,item in videos%}

            {% set video_url = generate_url('videos.videos.detail', {'id' : item.id}) %}

            <div class="col-sm-12">
                <div class="horizontal-video">

                    <a href="{{ video_url }}" title='{{item.title}}'>
                        <img src="{{ resized_image(item.image_file,100,70) }}" align='left' alt="{{ item.title|truncate(50) }}" title="{{ item.title }}" width="120px" align="left" style="width:120px !important;"/>
                    </a>

                    <b>
                        <a href="{{ video_url }}" title='{{item.title}}'>
                            {{ item.title}}
                        </a>
                    </b>
                    <br>

                    <small>
                        <i class="fa fa-clock-o"></i> Added: {{ item.date_created|date('d M Y') }} &nbsp;&nbsp;
                        <i class="fa fa-eye-slash"></i> Views: {{ item.hits }}
                    </small>

                    <div class='clearfix'></div>
                </div>
            </div>

        {% endfor %}
    {% else %}
        No Products
    {% endif %}
    <div class="clearfix"></div>
</div>
