{# empty Twig template #}
{% import "form.macro.twig" as forms %}

{{ set_assets('applications/Videos/assets/css/video.css') }}

{{ addTwigPath('applications.Videos.Main.Code.views') }}

<h1 class="component-header">{{ item.title }}</h1>

<div class="video-posted-date">
    <i class="fa fa-clock-o"></i> Posted:  {{ item.date_created|date('d M Y H:i') }} &nbsp;&nbsp;
</div>

<div class="video-description">
    {{ item.description|raw }}
</div>




